Checks: >
  clang-diagnostic-*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  portability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
